* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-rows: auto min-content;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
}

/* main card */

main {
  max-width: 36rem;
  align-self: center;
  margin: 0.5rem;
}
.card {
  background-color: white;
  border-radius: 2.2rem;
  padding: 1.6rem;
}

/* image section */

.card-image img {
  width: 100%;
  border-radius: 12px;
}

/* text section */

.text {
  padding: 2.5rem 3rem 4rem 3rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 1.8rem;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
